.HideCompleted {
    padding: 0px 20px;
    margin-bottom: 10px;
}

.HideCompleted p,
i {
    color: rgba(255, 255, 255, 0.286);
    cursor: pointer;
}

.HideCompleted p {
    font-size: 20px;
}

.HideCompleted p:hover {
    color: white;
}